/node_modules
/public/hot
/public/js
/public/lib
/public/css
/public/storage
/storage/*.key
/vendor
.idea/
package-lock.json
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
