.invalid {
    color: red;
}

#kt_header_menu {
    padding: 0 1rem 0 0;
    font-size: 1.2rem;
    font-weight: 500;
    color: #434349;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.kt-user-card .kt-user-card__name {
    word-break: break-word;
}
